.select-style {
  height: 300px;
  width: 100%;
  background-color: aqua;
  opacity: 0.9;
}

li {
  opacity: 1;
}
a {
  color: black;
}

.container_test_1,
.container_test_2 {
  height: 150px;
  width: 150px;
  background-color: blue;
}

.container_test_1 {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 50px;
}
.container_test_2 {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 50px;
}

.box_inside {
  box-sizing: border-box;
  background-color: red;
  height: 20px;
  width: 20px;
  margin: 0 auto;
}
